@model DevCodeGroupCapstone.Models.View_Models.BigIndexViewModel

@{
    ViewBag.Title = "Index";
}

@*<button type="button" id="viewChange"> Student </button>
    <button type="button" id="viewChange2"> Teacher </button>*@

<div class="container welcome" id="introView">

    <div class="row">
        <div class="col-md-6 split-holder">
            <div class="dBox">
                <p>if you are a student click the <strong>"STUDENT"</strong> tab to browse availabile lessons and your appointments</p>
            </div>
        </div>
        <div class="col-md-6 split-holder">
            <div class="dBox">
                <p>if you are a teacher click the <strong>"TEACHER"</strong> tab to view your dashboard!</p>
            </div>
        </div>
    </div>
</div>





<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');


        (function ($) {

            ResetHeader();

            function ResetHeader() {
                 $("index-header-parent").html("");
                $("#index-header-parent").append("<div class='index-header'><h2> Welcome <strong>@Model.currentUser.firstName  @Model.currentUser.lastName!</strong> </h2></div>")
            }





             $( "#viewLessons" ).click(function() {
                        console.log("Handler for .click() called.");
                            $("#calendar").hide();
                            $("#lessons").show();
                            $("#requestedLessons").hide();
              });
            $( "#viewCalendar" ).click(function() {
                        console.log("Handler for .click() called.");
                            $("#calendar").show();
                            $("#lessons").hide();
                            $("#requestedLessons").hide();
            });
            $( "#requestNotification" ).click(function() {
                        console.log("Show requests");
                            $("#requestedLessons").show();
                            $("#lessons").hide();
                            $("#calendar").hide();
            });



        })(jQuery);

    });
</script>

