@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>We Teach Today!</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img id="infoDispLogo" src="~/Content/Images/WeTeachTodayLogo1.png" alt="logo1" />

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>