@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <center>
            <img id="infoDispLogo" src="~/Content/Images/WeTeachTodayLogo1.png" alt="logo1" />
        </center>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            <h2>Welcome to WeTeachToday!</h2>
            <p>WeTeachToday pairs teachers and students that will want to either teach or learn any subject.</p>
            <a href="@Url.Action("Login", "Account")">
                <h3>Register Here</h3>
            </a>
        </center>
    </div>
</div>