body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.welcome{
    text-align: center;
}



.gLogin {
    border: none;
    height: 85px;
    width: 100%;
    background-color: transparent;
    background-image: url("Images/signin-button1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

    .gLogin:hover {
        
        background-image: url("Images/signin-button2.png");
       
    }

    .greenBar{
        background-color: rgb(56, 119, 128);
        

    }


.dBox {
    height: 290px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    border: 1pt solid;
    border-color: silver;
    background-color: white;
}





.logBox{
    height: 290px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    border: 1pt solid;
    border-color: silver;
    background-color: white;
    
}

.hoverGreen:hover{
    background-color: rgb(153, 234, 158);

}

/*replace bootstrap here content out*/

